.cta {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  background: #403b39 url(../../public/images/badlands/footer-bg.webp) repeat
    top left;
  font-size: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & :global {
    a {
      font-size: 16px;
      gap: 5px;
      display: flex;
      align-items: center;
    }
  }
}
