.default {
  cursor: pointer;
  padding: 10px 20px;
  font-size: var(--fontSizeSmall);
  font-weight: bold;
  border: 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.14),
    inset 0px 2px 0px rgba(255, 255, 255, 0.17),
    inset 0px 21px 0px rgba(255, 255, 255, 0.07),
    inset 0px -3px 0px rgba(0, 0, 0, 0.17);
  display: flex;
  align-items: center;
  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
  }
}
.default:global {
  &.active {
  }
}
.default:global {
  &.disabled {
    cursor: no-drop;
  }
}

@media (max-width: 768px) {
  .default {
    font-size: var(--mFontSize1);
  }
}
