.nav {
  ul {
    background: var(--navBg);
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    li {
      margin-left: 32px;
      display: flex;
      align-items: center;
    }
  }
  button,
  a {
    font-family: "Bowlby One SC";
    text-transform: uppercase;
    font-size: var(--fontSizeBig);
    text-decoration: none;
    color: white;
    font-weight: bold;
    > span {
      margin-right: 7px !important;
    }
    &:hover {
      filter: brightness(0.85);
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
