@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0em var(--successColor);
  }
  100% {
    box-shadow: 0 0 0 1.5em rgba(255, 100, 100, 0);
  }
}

@keyframes signalEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
