@import "./fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;
  font-size: var(--fontSizeMedium);
  background-image: url(../public/images/badlands/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  caret-color: #8c8494;
}
#__next {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
main {
  height: 100%;
  grid-row: 1/3;
}

h1,
h2 {
  font-family: "Bowlby One SC", cursive;
  text-transform: uppercase;
  margin: 0 0 25px;
  text-shadow: 0px 2px 0px #000000;
}

.overlap {
  position: relative;
  display: inline-block;

  > span {
    position: absolute;
    top: -11px;
    left: 8px;
    padding: 0px 4px;
    font-size: var(--fontSizeSmall);
    background: rgb(64, 59, 57, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
  > svg,
  em {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 15px;
  }
  > input {
    position: relative;
  }
  > button {
    position: absolute;
    top: calc(50% - 10px);
    right: 15px;
  }
}
svg {
  cursor: pointer;
}

.vhAligned {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  padding: 12px 40px 12px 16px;
  background-color: #0e0d0c;
  color: #8c8494;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 2px;
  &::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
  }
}
/* Hide arrow number: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide arrow number: Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wallet-adapter-dropdown-list-item,
button {
  font-family: "Bowlby One SC", cursive;
  text-shadow: 0px 2px 0px #000000;
  padding: 12px 24px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  color: white;
  background-color: #e3be59;
  &:hover {
    background-color: #dfc270;
  }

  &.sm {
    padding: 4px 16px;
    font-size: var(--fontSizeXS);
  }
  &.big {
    padding: 20px 24px;
  }
  &.rounded {
    border-radius: 50px;
  }
  &[disabled] {
    background-color: #fafafa;
    color: var(--color13);
    &:hover {
      background-color: #dbd8d7;
    }
  }
}

button.pulsar0 {
  animation: radial-pulse0 1.5s ease infinite;
  -moz-animation: radial-pulse0 1.5s ease infinite;
  -webkit-animation: radial-pulse0 1.5s ease infinite;
}

.wallet-adapter-dropdown-list-item,
.button1 {
  background-color: #7c7370;
  &:hover {
    background-color: #5e5755 !important;
  }
}
.button2 {
  background-color: #bd2742;
  &:hover {
    background-color: #d8415c;
  }
}
.button3 {
  background-color: #7c7370;
  &:hover {
    background-color: #5e5755;
  }
}
button.btnRadius2 {
  border-radius: 4px;
}

.txtCenter {
  text-align: center;
}
.wallet-adapter-dropdown-list-item {
  box-shadow: 0px 4px 0px rgb(0 0 0 / 14%),
    inset 0px 2px 0px rgb(255 255 255 / 17%),
    inset 0px 21px 0px rgb(255 255 255 / 7%),
    inset 0px -3px 0px rgb(0 0 0 / 17%);
}
.icon0,
.icon1,
.icon2,
.icon3 {
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  path {
    -webkit-transition: fill 1s ease-out;
    -moz-transition: fill 1s ease-out;
    -o-transition: fill 1s ease-out;
    transition: fill 1s ease-out;
  }
}
.icon0 {
  color: white;
  path {
    fill: white;
  }
  &:hover {
    color: #e3be59;
    path {
      fill: #e3be59;
    }
  }
}
.icon1 {
  color: #e3be59;
  path {
    fill: #e3be59;
  }
  &:hover {
    color: white;
    path {
      fill: white;
    }
  }
}
.icon2 {
  color: #bd2742;
  path {
    fill: #bd2742;
  }
  &:hover {
    color: white;
    path {
      fill: white;
    }
  }
}
.icon3 {
  color: #8c8494;
  path {
    fill: #8c8494;
  }
  &:hover {
    color: white;
    path {
      fill: white;
    }
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: var(--fontSizeXS);

  th {
    color: #8c8494;
  }
  tr {
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: rgb(144, 135, 135, 0.2);
    > td,
    > th {
      &:last-of-type {
        white-space: unset;
        text-align: right;
        width: 50px;
      }
    }
  }

  tbody {
    tr {
      &:not(&.empty) {
        &:hover {
          background-color: rgb(137, 137, 137, 0.6);
        }
      }
      p {
        margin: 0;
        color: #8c8494;
      }
    }
  }
  th,
  td {
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    padding: 15px;
  }
}

.mb-med {
  margin-bottom: 15px;
}
.mb-big {
  margin-bottom: 30px;
}

.flex {
  display: flex;
}

.aligned {
  display: flex;
  gap: 12px;
  align-items: center;
}

.gap5 {
  gap: 5px;
}
.capitalize {
  text-transform: capitalize;
}

.centered {
  justify-content: center;
}

.fullCol {
  flex: 1;
}
.fullWidth {
  width: 100%;
}

ul {
  list-style: none;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.sqList {
  li {
    position: relative;
    padding: 0 0 5px 25px;
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 10px;
      width: 4px;
      height: 4px;
      background-color: #e3be59;
    }
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

.link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .mobileCols {
    align-items: baseline;
    flex-direction: column;
  }
  .fullCol {
    flex: unset;
    width: 100%;
  }
}
