.container {
  max-width: 928px;
  padding-top: 190px;
  margin: 0 auto;
  h1 {
    font-size: 60px;
    text-align: center;
    color: #e9d8c1;
    margin: 0 0 10px 0;
  }
  h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    > span {
      position: relative;
      top: -2px;
    }
  }
  > p {
    text-align: center;
    margin-bottom: 50px;
  }
  section {
    margin: 0 0 40px 0;
    fieldset {
      > p {
        color: #8c8494;
        margin-bottom: 30px;
      }
      padding: 48px;
      background: rgba(40, 37, 36, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.06);
    }
  }

  & :global {
    .SquareMaster,
    .CircleMaster,
    .TriangleMaster {
      transition: color 2s ease-in-out;
      -webkit-transition: color 2s ease-in-out;
      -moz-transition: color 2s ease-in-out;
      -o-transition: color 2s ease-in-out;
    }
  }
}

.desc {
  > p {
    margin-bottom: 15px !important;
  }
  li {
    color: #8c8494;
  }
}

.shapeBox {
  color: #282524;
  background-color: unset;
  border: 0;
  border-radius: 0;
  background-image: url(../public/images/badlands/corner_1.webp),
    url(../public/images/badlands/corner_2.webp),
    url(../public/images/badlands/corner_3.webp),
    url(../public/images/badlands/corner_4.webp),
    url(../public/images/badlands/line_1.webp),
    url(../public/images/badlands/line_2.webp),
    url(../public/images/badlands/line_3.webp),
    url(../public/images/badlands/line_4.webp),
    url(../public/images/badlands/side.webp),
    url(../public/images/badlands/paper.webp);
  background-position: left top, right top, right bottom, left bottom,
    center top, right center, center bottom, left center, right top, center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, repeat-y, repeat;
  background-size: auto, auto, auto, auto, calc(100% - 82px) 50px,
    72px calc(100% - 62px), calc(100% - 82px) 50px, 50px calc(100% - 62px), auto,
    auto;
  padding: 45px;
  display: flex;
  gap: 25px;
  flex-direction: row-reverse;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  & :global {
    .shape {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 200px;
      span {
        display: block;
        width: 1px;
        height: 1px;
        transition: all 1s ease-in;
        &.Circle {
          border-radius: 50%;
        }
        &.Triangle {
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
      }
    }
    .shapeBtns {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      span {
        color: #8c8494;
        font-size: var(--fontSizeXS);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }
}
.loading {
  height: 100%;
  display: flex;
  align-items: center;
}

.loggedMsg {
  color: white;
  margin-top: 20px;
  padding: 15px;
  background: #403b39 url(../public/images/badlands/footer-bg.webp) repeat
    center;
  text-shadow: 1px 1px 2px #000000;
  background-size: contain;
  display: flex;
  align-items: center;
  gap: 20px;
  > p {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .container {
    h1 {
      font-size: 32px;
      margin: 0 10px 10px 10px;
    }
    section {
      h2 {
        margin-left: 48px;
      }
      fieldset {
        padding: 32px;
      }
    }
  }

  .loggedMsg {
    flex-direction: column;
  }
}
