html {
  --h1Size: 33px;
  --h2Size: 20px;
  --h3Size: 16px;
  --h4Size: 24px;

  // Desktop
  --fontSizeXBig: 20px;
  --fontSizeBig: 17px;
  --fontSizeMedium: 14px;
  --fontSizeSmall: 12px;
  --fontSizeXS: 10px;

  // Mobile
  --mFontSizeBig: 17px;
  --mFontSizeMedium: 14px;
  --mFontSizeSmall: 12px;

  --fontColor: white;
  --navBg: #403b39 url(../public/images/badlands/nav-bg.webp) repeat top left;
  --buttonBg0: #5538d0;

  --fire: #ffff05;
  --iconFill0: white;
  --iconFill1: #e3be59;
}
